body{
    margin: 0;
    background-color: black;
}
h1{
    color: #FFE81F;
    text-align: center;
}
h2{
    text-align: center;
    color:  #10D1FF;
}
#grade{
    width: 450px;
    height: 450px;
    border: 1px solid white;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background: url(img/fundo.jpeg);
}
div{
    width: 30px;
    height: 30px;
    position: relative;
}
.jogador{
    background: url(img/xwing.png) no-repeat;
    background-size: contain;
}
.invasor{
    background: url(img/tiefighter.png) no-repeat;
    background-size: contain;
}
.tiro::after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
    position: absolute;
    right: 10px;
}
.kabum{
    background: url(img/kabum.png) no-repeat;
    background-size: contain;
}
#pontuacao{
    color: #10D1FF;
}